#report{
	border:1px solid #239DA9 ;
	margin: 0 auto;
	width:85%;
	height: auto;
	padding:20px;
	border-radius:5px;
}
#get_date{
	float:right;
	color:#239DA9;
	width:40%;
	text-align:right; 
	margin-right: 1%; 
	margin-top:-4%;              
}
.prints{
	margin-right:15px;
}
#text_head{
	color: #239DA9;
    font-family: verdana;
    font-size: 16px;
    font-weight: bold;
    border: solid 1px;
    text-align: center;
}
#border_head{
	width: 30%;
	margin-left: 40%;
}
#tables{
	margin-left:120px;
	font-size:13px;
}